<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="1">
    <listeners>
        <listener class-name="com.uiautomation.listeners.Listener"></listener>
        <listener class-name="com.uiautomation.listeners.MethodInterceptor"></listener>
		<listener class-name="com.uiautomation.listeners.AnnotationTransformer"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/myFIles/Github/ngframework" >
        <classes>
            <class name="com.uiautomation.tests.OrangeHRMTests"/>
            <class name="com.uiautomation.tests.AmazonTests"/>
        </classes>
    </test>
</suite>